@font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: bold;
    src: local("Aeonik"), url("./Aeonik-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 100;
    src: local("Aeonik"), url("./Aeonik-Light.otf") format("opentype");
}

@font-face {
    font-family: "Aeonik";
    font-style: italic;
    font-weight: 100;
    src: local("Aeonik"), url("./Aeonik-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: medium;
    src: local("Aeonik"), url("./Aeonik-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: normal;
    src: local("Aeonik"), url("./Aeonik-Regular.otf") format("opentype");
}
